<template>
    <div class="well">
        <div class="row">
            <div @click="setCategory(1)"
                 class="col-md-6 category"
                 v-bind:class="{active: category == 1}">
                <h2 class="intro-text">Калькулятор</h2>
            </div>
            <div @click="setCategory(2)"
                 class="col-md-6 category"
                 v-bind:class="{active: category == 2}">
                <h2 class="intro-text">Цены</h2>
            </div>
        </div>

        <div v-if="category==1" id="calculator" class="">
            <hr>
            <div class="row">
                <div @click="setStep(1)" class="col-md-3 steps-pill" v-bind:class="{activestep: currentStep==1}">
                    <h3>Шаг 1</h3>
                    <p>Что ремонтируем?</p>
                </div>
                <div @click="setStep(2)" class="col-md-3 steps-pill" v-bind:class="{activestep: currentStep==2}">
                    <h3>Шаг 2</h3>
                    <p>Как ремонтируем?</p>
                </div>
                <div @click="setStep(3)" class="col-md-3 steps-pill" v-bind:class="{activestep: currentStep==3}">
                    <h3>Шаг 3</h3>
                    <p>Сколько ремонтируем?</p>
                </div>
                <div @click="setStep(4)" class="col-md-3 steps-pill" v-bind:class="{activestep: currentStep==4}">
                    <h3>Шаг 4</h3>
                    <p>Итого:</p>
                </div>
            </div>
            <hr>

            <div v-if="currentStep == 1" class="step1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quam diam, vestibulum a cursus ut, pretium nec metus. Aliquam erat volutpat. Ut fringilla nisl a congue vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse ultricies, velit sed varius egestas, est purus euismod neque, pulvinar tincidunt nulla libero vitae magna. Duis nunc mi, ultricies ac ullamcorper eu, vulputate mollis enim. Fusce nec sollicitudin sem. Vivamus eget massa a urna auctor tincidunt et sit amet libero. Duis est mauris, posuere vel velit egestas, mollis tempus urna. Curabitur id dapibus felis, vel maximus nibh. Fusce lobortis ex urna, in facilisis ex pulvinar nec. Nullam quis tincidunt orci, non ultricies quam.</p>
                <hr>
                <select class="form-control inline-margin" name="category" v-model="surveyResults.category" >
                    <option value="">Выберите:</option>
                    <option value="houses">Ремонтируем квартиру</option>
                    <option value="flats">Строим дом</option>
                    <option value="tools">Ремонтируем инструменты</option>
                </select>
                <button @click="nextStep()" class="btn btn-default inline-margin">Далее:</button>
            </div>
            <div v-if="currentStep == 2" class="step2">
                <p>Suspendisse faucibus porta eros, in efficitur diam sodales quis. Mauris imperdiet, neque sed dignissim rutrum, purus urna porttitor ex, quis interdum neque sapien sit amet nibh. Morbi lobortis sem libero, a gravida ligula bibendum sed. Vivamus tristique auctor lacus, quis tincidunt justo eleifend quis. Suspendisse efficitur nunc ante, eu ullamcorper ante aliquet sit amet. Sed massa tortor, facilisis id dictum vel, euismod a tellus. Curabitur tincidunt augue nisi, ut euismod ex eleifend eget. Quisque fermentum mauris libero, vel molestie est vulputate non. Ut ante nunc, aliquam sit amet sem in, finibus lobortis velit.</p>
                <hr>
                <select class="form-control inline-margin" name="repairtype" v-model="surveyResults.repairType" >
                    <option value="">Выберите:</option>
                    <option value="eco">Эконом</option>
                    <option value="luxury">Люкс</option>
                    <option value="euro">Евро</option>
                </select>
                <button @click="nextStep()" class="btn btn-default inline-margin">Далее:</button>
            </div>
            <div v-if="currentStep == 3" class="step1">
                <p>Curabitur erat velit, lobortis vel lacus ac, euismod convallis nisl. Cras dapibus libero a porta tincidunt. Proin tortor urna, imperdiet vel tellus et, pellentesque viverra ex. Nullam eu laoreet lorem. Ut euismod neque in tellus pulvinar venenatis. Donec convallis nulla vel mauris tincidunt pharetra. Sed consectetur blandit purus vel bibendum. Proin viverra eros arcu, a feugiat diam bibendum vel. Sed id mattis arcu. Fusce rhoncus turpis egestas, faucibus lectus ut, laoreet nunc. Quisque id aliquam orci, eget placerat odio.
                </p>
                <hr>
                <select class="form-control inline-margin" name="workAmount" v-model="surveyResults.workAmount" >
                    <option value="">Выберите:</option>
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="huge">Huge</option>
                    <option value="idk">Не знаю метраж своей квартиры</option>
                </select>
                <button @click="nextStep()" class="btn btn-default inline-margin">Далее:</button>
            </div>
            <div v-if="currentStep == 4" class="step2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quam diam, vestibulum a cursus ut, pretium nec metus. Aliquam erat volutpat. Ut fringilla nisl a congue vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse ultricies, velit sed varius egestas, est purus euismod neque, pulvinar tincidunt nulla libero vitae magna. Duis nunc mi, ultricies ac ullamcorper eu, vulputate mollis enim. Fusce nec sollicitudin sem. Vivamus eget massa a urna auctor tincidunt et sit amet libero. Duis est mauris, posuere vel velit egestas, mollis tempus urna. Curabitur id dapibus felis, vel maximus nibh. Fusce lobortis ex urna, in facilisis ex pulvinar nec. Nullam quis tincidunt orci, non ultricies quam.</p>
                <hr>
                <p>{{resultString}}</p>
                <hr>
                <p>Оставьте ваши контакты, и мы с вами свяжемся и обсудим детали:</p>
                <div class="row">
                    <div class="col-lg-4">
                        <input class="form-control col-lg-4 inline-margin"
                               type="email"
                               v-model="surveyResults.contactInfo.email"
                               placeholder="Ваш email"/>
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control col-lg-4 inline-margin"
                               type="text"
                               v-model="surveyResults.contactInfo.name"
                               placeholder="Ваше имя" />
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control col-lg-4 inline-margin"
                               type="tel"
                               v-model="surveyResults.contactInfo.telephone"
                               placeholder="Ваш контактный номер"/>
                        <button @click="submit()" class="btn btn-success inline-margin pull-right">Отправить</button>
                    </div>

                </div>
            </div>


        </div>
        <div v-if="category==2" id="pricelist" class="">
            <hr>
            <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            <hr>
           <user-pricelist />
        </div>

    </div>
</template>
<style>
    .category {
        text-align: center;
        width: 49%;
    }
    .category>a {
        padding: 0.5em;
    }
    .activestep {
        background: #E1C1A5;
    }
    .steps-pill {
        border-radius: 25px;
        text-align: center;
    }
    .inline-margin {
        margin-top: 10px;
    }
</style>
<script>
    import UserPricelist from './UserPricelist.vue'
    export default {
        data() {
            return {
                currentStep: 1,
                category: 1,
                surveyResults: {
                    category: '',
                    repairType: '',
                    workAmount: '',
                    contactInfo: {
                        telephone: '',
                        email: '',
                        name: ''
                    }
                }
            }
        },
        computed: {
            resultString: function () {
                let resultText = 'Результаты: вы выбрали: '+
                        this.surveyResults.category +
                        ' с типом ремонта: ' +
                        this.surveyResults.repairType +
                        ' с метражом ' +
                        this.surveyResults.workAmount +
                        ' (можно будет в цифрах?). '
                return resultText;
            }
        },
        methods: {
            nextStep() {
                if (this.currentStep < 4)
                {
                    this.currentStep++;
                }
                else {
                    }
            },
            setStep(index) {
                this.currentStep = index
            },
            setCategory(index) {
                this.category = index;
            },
            submit() {
                let orderRequestObj = {};
                orderRequestObj = {
                    category: this.surveyResults.category,
                    repairType: this.surveyResults.repairType,
                    workAmount: this.surveyResults.workAmount,
                    telephone: this.surveyResults.contactInfo.telephone,
                    email: this.surveyResults.contactInfo.email,
                    name: this.surveyResults.contactInfo.name
                }
                axios.post('/orders/add', orderRequestObj);
            }
        },

        components:{
            UserPricelist
        }
    }

</script>
