<template>
    <div class="controls">
        <div class="input row">
            <div class="col-lg-12">
                <input class="form-control" type="text" v-model="searchQuery" placeholder="Поиск по названиям"/>
            </div>
            <div class="flex items-center justify-between col-lg-12">
                <button @click="setActiveFilter('*')"
                   v-bind:class="{active: activeFilter == '*'}"
                   class="filter-link btn">Все</button>
                <button @click="setActiveFilter('flats')"
                   v-bind:class="{active: activeFilter == 'flats'}"
                   class="filter-link btn">Ремонт квартир</button>
                <button @click="setActiveFilter('houses')"
                   v-bind:class="{active: activeFilter == 'houses'}"
                   class="filter-link btn">Строительство домов</button>
                <button @click="setActiveFilter('tools')"
                   v-bind:class="{active: activeFilter == 'tools'}"
                   class="filter-link btn">Ремонт инструмента</button>
            </div>
        <div class="output row">
             <div class="col-lg-12">
                 <table class="table table-striped">
                     <thead>
                         <tr>
                             <th>Категория</th>
                             <th>Название</th>
                             <th>Ед.изм.</th>
                             <th>Цена</th>
                         </tr>
                     </thead>
                     <tbody>
                        <tr v-for="price in matchedFilter">
                            <td>{{price.category}}</td>
                            <td>{{price.name}}</td>
                            <td>{{price.units}}</td>
                            <td>{{price.price}}</td>
                        </tr>
                     </tbody>
                 </table>
             </div>
        </div>

        </div>
    </div>
</template>
<style>
    body{
        background-color:#ff0000;
    }
    .justify-between {
        justify-content: center;
    }
    .filter-link {
        cursor: pointer;
        margin: 5px;

    }
    .active {
        background: #E1C1A5;
    }
    .flex {
        display: flex;
    }
</style>
<script>
    export default{
        data() {
            return{
                prices : [],
                searchQuery: '',
                activeFilter: '*',
                activeFilterObj: {}
            }
        },
        computed: {
            matchedFilter : function () {
                var self = this;
                return _
                    .chain(this.prices)
                    .filter( function(price) {
                        return price.name.includes(self.searchQuery)
                    })
                    .filter(this.activeFilterObj)
                    .value();
            }

        },
        methods: {
            setActiveFilter(filter) {
                this.activeFilter = filter;
                this.activeFilterObj = this.buildFilterObject();
                console.log(this.activeFilter);
            },
            buildFilterObject() {
                let obj = {};
                switch (this.activeFilter) {
                    case '*':
                        obj = {};
                        break;
                    case 'flats':
                        obj = {category: 'Ремонт квартир'}
                        break;
                    case 'houses':
                        obj = {category: 'Строительство домов'}
                        break;
                    case 'tools':
                        obj = {category: 'Ремонт инструмента'}
                        break;
                }
                return obj;
            }

        },
        beforeCreate() {
            axios.get('/prices/all')
                .then((r) => {
                    this.prices = r.data;
                } );
        }
    }
</script>
