<template>
    <div class="col-sm-9 well">
       <div class="well">
           <table class="table table-striped">
               <thead>
                   <tr>
                       <th>#</th>
                       <th>Категория</th>
                       <th>Название</th>
                       <th>Цена</th>
                       <th>Ед.изм.</th>
                       <th>Обновлено</th>
                       <th>
                           <button @click="toggleHiddenInput()" class="btn btn-success">
                               <i class="glyphicon glyphicon-plus" />
                           </button>
                       </th>
                   </tr>
               </thead>
               <tbody>
                   <tr v-bind:hidden='newPrice.hidden'>
                    <td></td>
                    <td>
                        <select class="form-control" v-model="newPrice.data.category">
                            <option>Ремонт квартир</option>
                            <option>Ремонт инструмента</option>
                            <option>Строительство домов</option>
                        </select>
                    </td>
                    <td><input class="form-control" type="text" v-model="newPrice.data.name"></td>
                    <td><input class="form-control" type="text" v-model="newPrice.data.price"></td>
                    <td>
                        <select class="form-control" v-model="newPrice.data.units">
                            <option>кв.м</option>
                            <option>п.м</option>
                            <option>шт</option>
                            <option>точка</option>
                        </select>
                    </td>
                    <td></td>
                    <td><button @click="addNewPricelistItem()" class="btn btn-primary">Save</button></td>
                    <td>&nbsp</td>
                   </tr>

                   <tr v-for="(price, index) in prices">
                       <td>{{index+1}}</td>
                       <td>
                           <select v-if="price.isEditing" class="form-control" v-model="price.category">
                               <option>Ремонт квартир</option>
                               <option>Ремонт инструмента</option>
                               <option>Строительство домов</option>
                           </select>
                           {{price.isEditing? '' : price.category}}
                       </td>
                       <td>
                           <input v-if="price.isEditing" type="text" v-model="price.name"/>
                           {{price.isEditing? '' : price.name}}
                       </td>
                       <td>
                           <input v-if="price.isEditing" type="text" v-model="price.price"/>
                           {{price.isEditing? '' : price.price}}
                       </td>
                       <td>
                           <select v-if="price.isEditing" class="form-control" v-model="price.units">
                               <option>кв.м</option>
                               <option>п.м</option>
                               <option>шт</option>
                               <option>точка</option>
                           </select>
                           {{price.isEditing? '' : price.units}}
                       </td>
                       <td>{{price.updated_at}}</td>
                       <td>
                           <button @click="makeRowEditable(index)" class="btn btn-primary">{{!price.isEditing?'Edit':'Save'}}</button>
                       </td>
                       <td>
                           <button @click="deletePricelistItem(index)" class="btn btn-danger">Delete</button>
                       </td>
                   </tr>
               </tbody>
           </table>
       </div>
    </div>
</template>
<style>

</style>
<script>
    export default{
        data() {
            window.prices = window.prices.map((e) => Object.assign({isEditing: false}, e));
            return {
                msg:'hello vue',
                newPrice: {
                    data: {},
                    hidden: true
                    },
                prices: window.prices,
                buttonText: 'Edit'
            }
        },

        methods: {
            makeRowEditable(index) {
                let saveCheck =  this.prices[index].isEditing;
                this.prices[index].isEditing = !this.prices[index].isEditing;
                if (saveCheck == true) {
                    axios.post('/admin/pricelist', this.prices[index]);
                }
            },
            toggleHiddenInput() {
                this.newPrice.hidden = !this.newPrice.hidden;
            },
            addNewPricelistItem() {
                if (this.validateNewPricelistItem()) {
                    axios.post('/admin/pricelist/add', this.newPrice.data)
                        .then((r) => {
                            console.log(r);
                            this.prices.push(Object.assign({isEditing: false}, r.data));
                            this.newPrice.data = {};
                            this.toggleHiddenInput();
                        })
                 }
                 else {
                    alert('Ошибка!');
                 }
            },
            validateNewPricelistItem() {
                let np = this.newPrice.data;
                return np.category && np.name && !isNaN(np.price);
            },
            deletePricelistItem(index) {
                axios.post('/admin/pricelist/delete/'+this.prices[index].id)
                    .then((r) => {
                        this.prices.splice(index, 1);
                    })
            }
        }

        }


</script>
