<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="col-sm-9">
        <div class="row">
            <div v-for="(review, index) in reviews" class="col-lg-12 well">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <h3>{{review.author}}</h3>
                        <p>{{review.created_at}}</p>
                        <button @click="togglePublish(index)"
                                class="btn btn-primary control"
                                >{{review.published ? 'Убрать с сайта' : 'Опубликовать'}}
                        </button>
                        <button @click="makeEditable(index)"
                                class="btn btn-success control"
                                >{{!review.isEditing ? 'Редактировать' : 'Сохранить'}}
                        </button>
                        <button @click="deleteReview(index)"
                                class="btn btn-danger control">Удалить</button>
                    </div>

                    <div class="col-md-8">

                        <label v-if="!review.isEditing">
                            Оценка: {{review.rating}} звездочек(допилить!)
                        </label>

                        <label v-if="review.isEditing">
                            <select class="form-control" v-model="review.rating">
                                <option value="0">Оценить:</option>
                                <option value="1">1 - Очень плохо</option>
                                <option value="2">2 - Плохо</option>
                                <option value="3">3 - Средне</option>
                                <option value="4">4 - Хорошо</option>
                                <option value="5">5 - Отлично</option>
                            </select>
                        </label>
                        <div v-if="!review.isEditing">
                            <hr>
                            <p>{{review.body}}</p>
                            <hr>
                        </div>
                        <div v-if="review.isEditing">
                            <textarea class="form-control" rows="12" v-model="review.body"></textarea>
                        </div>



                    </div>
                </div>
                <div v-if="!review.isEditing" class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h3 class="intro-text"><strong>Комментарий работника:</strong></h3>
                        <p>{{review.comment}}</p>
                    </div>
                </div>

                <div v-if="review.isEditing" class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h3 class="intro-text"><strong>Комментарий работника:</strong></h3>
                        <textarea class="form-control" rows="6" v-model="review.comment"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
    body{
        background-color:#ff0000;
    }
    .control {
        width: 170px;
        margin: 5px 0 5px 0;
    }
</style>
<script>
    export default{
        data(){
            return{
                msg:'hello vue',
                reviews: []
            }
        },
        methods: {
            makeEditable(index) {
                let review = this.reviews[index];
                review.isEditing = !review.isEditing;
                if (!review.isEditing) {
                    axios.patch('/reviews', review)
                     .then( (r) => {console.log('Do i even need response anyway for update?');});
                    }
                else {
                    console.log('MakeEditable error');
                    }
            },
            togglePublish(index) {
                let review = this.reviews[index];
                review.published = !review.published
                axios.patch('/reviews', review)
                    .then( (r) => {console.log('Do i even need response anyway for update?');});
            },
            deleteReview(index) {
                let review = this.reviews[index];
                axios.post('/reviews/delete', review)
                    .then( (r) => {
                        console.log('Review deleted, update model now');
                        this.reviews.splice(index, 1);
                    });
            }
        },
        beforeCreate() {
            axios.get('/admin/reviews/all')
                .then((r) => {
                    r.data = r.data.map((e) => Object.assign({isEditing: false}, e));
                    this.reviews = r.data;
                } );
        }
    }
</script>
